<div>
    <mat-expansion-panel [expanded]="true" *ngFor="let category of getCategories()">
        <mat-expansion-panel-header>
            <mat-panel-title>{{category}}</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-accordion>
            <div fxLayout="row wrap" fxLayoutGap="10px grid">
                <div *ngFor="let soundcard of uiSoundCards" style="margin-bottom: 10px;"  [ngStyle]="{'display': soundcard.category == category ? '':'none'}">
                    <app-soundcard [soundcard]="soundcard">
                    </app-soundcard>
                </div>
            </div>

        </mat-accordion>
    </mat-expansion-panel>
</div>