<!-- <div style="margin: 10px; height: 35px">
    <div style="position: absolute; top: 2%;">
        <label>Search: </label><input type="search" [(ngModel)]="currentSearch" (ngModelChange)="searchBarChanged()">
    </div>
</div> -->

<button mat-raised-button color="warn" (click)="seachButtonClicked()" style="height: 4em;">
    <mat-icon >search</mat-icon>
    <mat-form-field *ngIf="showSearch" style="padding-left: 10px;">
        <input #searchInput id="SearchInput" matInput type="search" [(ngModel)]="currentSearch" (ngModelChange)="searchBarChanged()" (click)="inputClickEvent($event)">
    </mat-form-field>
</button>