<mat-card [ngStyle]="{'background-color': soundcard.isCurrentlyPlaying ? 'green' : 'darkgray'}" style="width: 200px; "
    (click)="playButtonClicked($event)">
    <div style="padding-bottom: 10px;" (click)="$event.stopPropagation()">
        <button mat-raised-button (click)="handleEditClicked($event)">
            <mat-icon style="margin-left: -5px;">edit</mat-icon>
            Edit
        </button>
        <!-- style="position: absolute; top: 5px; right: 5px; padding: 0px;" -->
    </div>

    <mat-card-title>{{soundcard.title}}</mat-card-title>

    <h3>Duration: {{soundDuration}}</h3>
    <div (click)="$event.stopPropagation()">
        <p>Favorite <input type="checkbox" (change)="isFavoriteChange($event)" [(ngModel)]="soundcard.isFavorite"></p>
    </div>
    <div (click)="$event.stopPropagation()">
        <p>Show On Streamdeck: <input type="checkbox" (change)="showOnStreamDeckChange($event)"
                [(ngModel)]="soundcard.showOnStreamDeck"></p>
    </div>
    <div (click)="$event.stopPropagation()">
        <p>current volume: <mat-slider min="0" max="1" step="0.05" (change)="volumeChanged($event)"
                [(ngModel)]="soundcard.currentVolume"></mat-slider>
        </p>
    </div>
    <!-- <button (click)="soundButtonClicked($event)">{{soundcard.isCurrentlyPlaying ? 'Stop': 'Play'}}</button> -->

    <button (click)="playButtonClicked($event)">Play</button>
    <button (click)="stopAllButtonClicked($event)" style="float:right">Stop All</button>
</mat-card>